<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Search</title>
</head>

<body>
  <div style="background-color: #374151; padding: 1rem;">
    <h2 style="font-size: 3rem; font-weight: lighter; color: white; margin: 0;">Anime Search</h2>
  </div>
  <div style="display: flex; justify-content: center; padding-left: 3rem; margin-left: 6rem;">
    <form action="/search" method="POST">
      <input type="text" placeholder="Search here..." name="search" style="border: 2px solid #374151; margin-top: 1rem; padding: 0.75rem 1rem;">
      <button style="background-color: #2563EB; font-size: 1.5rem; color: white; padding: 0.5rem 1rem; cursor: pointer;">Search</button>
    </form>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 5rem;">
    <div style="display: grid; gap: 1rem; grid-template-columns: repeat(3, 1fr);">
      {% for d in data['results'] %}
      <div style="transition: 0.5s ease; display: flex; padding: 0.75rem 0.5rem; background-color: #3c25eb; transform: translateY(-1px) scale(1.1); color: white; box-shadow: none; border: 2px solid #374151;">
        <div style="width: 60%; margin-right: 0;">
          <h2 style="font-size: 1.5rem; font-weight: bold; color: #090909;"><a href="{{ d.title }}" target="_blank">{{ d.title.text }}</a></h2>  <!-- Display the title -->
          <p>Genres: {{ d.genres.raw }}</p>  <!-- Display the raw genres -->
          <p>{{ d.description.raw }}</p>  <!-- Display the description -->
        </div>
      </div>
      {% endfor %}
    </div>
  </div>  
</body>
</html>
